{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "es6": true
    },
    "rules": {
        "import/no-unresolved": 0,
        "import/no-extraneous-dependencies": 0,
        "import/extensions": 0,
        "comma-dangle": 0,
        "space-before-blocks": 0,
        "indent": ["error", 4],
        "func-names": 0,
        "no-unused-vars": 0,
        "import/first": 0,
        "eol-last": 0,
        "no-plusplus": 0,
        "no-param-reassign": [0, { "props": false }],
        "no-debugger": 0,
        "no-console": 0,
        "no-alert":  0,
        "no-unused-expressions": 0,
        "no-cond-assign": 0,
        "linebreak-style": 0,
        "no-var": 0
    }
//  ,
//    "parserOptions": {
//        "ecmaFeatures": {
//            "jsx": true,
//            "modules": true
//        }
//    },
//    "parser": "babel-eslint"
}
